.page-header {
  min-height: 65px;
  @extend %flex;
  @extend %flex-justify-between;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo__link {
  @extend %link;
  color: map-get($colors, white);
  border-bottom: 3px solid transparent;
  @include font($weight:700, $size:30, $line-height:36);
}

.site-navigation {
  min-width: 623px;
  @include font($line-height:36);
}
  
.site-navigation__list {
  @extend %flex;
  @extend %flex-justify-between;
}

.site-navigation__item {
  &:hover .site-navigation__link,
  &:focus .site-navigation__link {
    color: map-get($colors, light-yellow);
    border-bottom: 3px solid map-get($colors, light-yellow);
  } 
  
  &:hover .site-navigation__link--icon,
  &:focus .site-navigation__link--icon {
    fill: map-get($colors, light-yellow);
  }
}
  
.site-navigation__link {
  @extend %link;
  @extend %text-uppercase;
  color: map-get($colors, white);
  border-bottom: 3px solid transparent;
  transition: border-bottom 200ms linear, color 200ms linear;
}
  
.site-navigation__link--icon {
  fill: map-get($colors, white);
  transition: fill 200ms linear;
}

  

  