.section__title {
  color: map-get($colors, gray20);
  text-align: center;
}
  
.section__title--first-line {
  @extend %block;
  @include font($size:24, $line-height:29, $name:map-get($fonts, kaushan));
  margin-bottom: 15px;
}

.section__title--second-line {
  @extend %text-uppercase;
  @extend %block;
  @include font($weight:700, $size:30, $line-height:36);
  
  &:after {
    content: "";
    @extend %block;
    width: 60px;
    height: 3px;
    margin: 35px auto 0;
    background-color: map-get($colors, light-coral);
  }
}
  
.services .section__title {
  padding: 46px 0 66px;
}
  
.sevices__list {
  @extend %flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
  
.services__item {
  @extend %flex;
  @extend %flex-justify-between;
  width: 348px;
  margin-bottom: 95px;
  
  &:nth-last-child(-n+3) {
    margin-bottom: 89px;
  }
}
  
.services__about--title {
  @extend %text-uppercase;
  color: map-get($colors, gray20);
  @include font($line-height:17);
  padding-bottom: 14px;
}
  
.services__about--content {
  color: map-get($colors, darkgray);
  @include font($size:15, $name:map-get($fonts, roboto));
}
  
.services__icon {
  fill: map-get($colors, riptide);
}
  
.services__about {
  width: 285px;
}