$colors: (white: #ffffff,
  light-yellow: #fce38a,
  light-coral: #f38181,
  gray20: #333333,
  riptide: #95e1d3,
  gray90: #e5e5e5,
  darkgray: #a6a6a6,
  gray80: #cccccc,
  whisper: #e7e7e7);

$fonts:(monts: 'Montserrat',
  kaushan: 'Kaushan Script',
  roboto: 'Roboto',
  sans: sans-serif);