* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 14px;
    box-sizing: border-box;
}

.header-page {
    background: url(../img/people.jpg) no-repeat center/cover;
}

.header-page,
.partners {
    text-align: center;
}

.site-navigation {
    display: flex;
}


.site-navigation a,
.logo,
.header-content,
.find-partner {
    color: #ffffff;
}

.initialization {
    min-width: 85px;
    border: 3px solid transparent;
    border-radius: 25px;
    transition: border 200ms linear;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    box-sizing: border-box;
}

.initialization:hover {
    border: 3px solid #ffffff;
}

.logo {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 32px;
}

.find-partner {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 40px;
    background-color: #ff4e50;
    border-radius: 25px;
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
}

.partners-title {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 26px;
    color: #333333;
}

.partners {
    padding-bottom: 57px;
}

.partner-list-item {
    width: 218px;
}

.photo-partner-item {
    width: 122px;
    margin: 0 auto;
    position: relative;
}

.photo-partner-item img {
    border-radius: 50%;
}

.photo-partner-item::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background: var(--bg-icon) no-repeat center, var(--bg-color);
}

.icon-1 {
    --bg-icon: url(../img/icon-1.png);
    --bg-color: #ff4e50;
}

.icon-2 {
    --bg-icon: url(../img/icon-2.png);
    --bg-color: #ffa507;
}

.icon-3 {
    --bg-icon: url(../img/icon-3.png);
    --bg-color: #1cd7ad;
}

.icon-4 {
    --bg-icon: url(../img/icon-4.png);
    --bg-color: #4e73db;
}

.partner-name {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 48px;
    color: #333333;
}

.partner-description {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 17px;
    color: #666666;
}

.other-partners {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 36px;
    color: #ff4e50;
    border: 2px solid #ff4e50;
    border-radius: 25px;
}



@media (max-width: 767px) {
    .site-navigation {
        justify-content: center;
        padding: 20px 0 110px;
    }

    .logo {
        padding-bottom: 24px;
    }

    .header-content {
        padding-bottom: 136px;
    }

    .sub-title {
        margin: 0 auto;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 22px;
        width: 222px;
        padding: 12px 0 16px;
    }

    .partners-title {
        padding: 65px 10px 16px;
    }

    .partners-list {
        justify-content: center;
    }

    .partner-list-item {
        margin-bottom: 25px;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 3;
    }

    .order-3 {
        order: 2;
    }

    .order-4 {
        order: 4;
    }


}

@media (min-width: 768px) {
    .container {
        width: 706px;
    }

    .header-nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 37px 0 144px;
    }

    
    .header-content {
        width: 503px;
        margin: 0 auto;
        padding-bottom: 234px;
    }

    .title {
        font-size: 52px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        line-height: 62px;
    }

    .sub-title {
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 29px;
        padding: 24px 0 31px;
    }

    .find-partner {
        width: 225px;
        margin: 0 auto;
    }

    .partners-title {
        padding: 71px 0 31px;
    }

    .partners-list {
        justify-content: space-around;
    }

    .other-partners {
        width: 191px;
        margin: 0 auto;
    }

}

@media (min-width: 768px) and (max-width: 1439px) {
    .partners.container {
        width: 532px;
    }

    .partner-list-item {
        margin-bottom: 59px;
    }

    .partner-list-item:nth-last-child(-n+2) {
        margin-bottom: 37px;
    }

}

@media (min-width: 1440px) {
    .container {
        width: 968px;
    }

    .partners-list {
        justify-content: space-between;
    }

    .partner-list-item {
        margin-bottom: 37px;
    }


}
